body{
    background-color: rgb(163, 224, 220);
}

.mainheader{
    color: rgb(4, 178, 190);
    font-family: Garamond, serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    width: 90px;
    height: 40px;
}

.hiddentext{
    display: none;
}