body{
    background-color: rgb(163, 224, 220);
}

.mainheader{
    color: rgb(61, 67, 155);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco", monospace;
}

.subheader{
    color: rgb(55, 106, 216);
    font-family: "Monaco", monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

#words{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco", monospace;
}

#options{
    display: block;
    margin : 0 auto;
}

#surveytext{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco", monospace;
}

#import{
    display: block;
    margin : 0 auto;
}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    width: 90px;
}

.hiddentext{
    display: none;
}

#instrux{
    border-style: solid;
    border-radius: 5px;
    background-color: rgb(12, 210, 224);
}

#instlabel{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco", monospace;
}

#inst{
    text-align: center;
    font-family: "Monaco", monospace;;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Monaco", monospace;
}

h4{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Monaco", monospace;
}

.question {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid transparent;
}

.correct {
  border-color: green;
  background-color: #e6ffe6;
}

.incorrect {
  border-color: red;
  background-color: #ffe6e6;
}

.partial {
  border-color: rgb(255, 166, 0);
  background-color: #fff8e6;
}