body{
    background-color: rgb(76, 219, 183);
}

.mainheader{
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrapper {
    text-align: center;
}

.button {
    position: absolute;
    width: 90px;
}

.hiddentext{
    display: none;
}

#instrux{
    border-style: solid;
    border-radius: 5px;
    
}

#instlabel{
    display: flex;
    justify-content: center;
    align-items: center;
}

#inst{
    text-align: center;
}

p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}